[ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {
  display: none !important;
}

[ng-click] {
  cursor: pointer;
}

.jumbotron {
  padding: 10px 50px;
}

.container {
  margin-top: 20px;
}

form {
  margin-bottom: 50px;
}

.cloak {
  visibility: hidden;
}

textarea {
	margin-bottom: 20px;
  display: block;
  width: 100%;
}

.highlight {
  background: rgba(51, 51, 51, 0.07);
}

.arrow-up, .arrow-down, .arrow-red, .arrow-green {
  display: inline-block;
  width: 0; 
  height: 0; 
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
}

.arrow-up {
  border-bottom: 5px solid black;
}

.arrow-down {
  border-top: 5px solid black;
}

.arrow-red {
  border-top: 10px solid red;
}

.arrow-green {
  border-bottom: 10px solid green;
}

@keyframes rotating {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.loading {
  animation: rotating 1s ease-in-out infinite;
  font-size: 30px;
}

.faded {
  opacity: 0.5;
}

.winrate-error {
  font-size: 9px;
}

.winrate-cell {
  position: relative;
}

.winrate-progress {
  position: absolute;
  left: 0;
  top: 0;
  bottom: 0;
}

.winrate-text {
  position: absolute;
}