<!doctype html>
<html ng-app="cgstats">
  <head>
    <title>CG stats</title>
    <link rel="stylesheet" href="/css/bootstrap.css?v=6" />
    <link rel="stylesheet" href="/css/bootstrap-theme.css?v=6" />
    <link rel="stylesheet" href="/css/main.css?v=6" />

    <base href="/" />
  </head>

  <body ng-cloak>
    <div class="jumbotron">
      <h1>CG stats</h1>
      <a href="http://cgstats.crocoware.com/" target="_blank">CG Puzzle Status</a> - <a href="http://apps.rezonux.com/codingame/">Royale tool</a>
    </div>
    <a href="https://github.com/dreignier/cgstats"><img style="position: absolute; top: 0; right: 0; border: 0;" src="https://camo.githubusercontent.com/38ef81f8aca64bb9a64448d0d70f1308ef5341ab/68747470733a2f2f73332e616d617a6f6e6177732e636f6d2f6769746875622f726962626f6e732f666f726b6d655f72696768745f6461726b626c75655f3132313632312e706e67" alt="Fork me on GitHub" data-canonical-src="https://s3.amazonaws.com/github/ribbons/forkme_right_darkblue_121621.png"></a>
    <div class="container">
      <div class="row">
        <div class="col-xs-12">
          <form ng-controller="form" class="form-horizontal">
            <div class="form-group">
              <label for="game" class="control-label col-xs-2">Game:</label>
              <div class="col-xs-6">
                <select class="form-control" ng-model="game" required>
                  <option value="">-- Select a game --</option>
                  <option value="multi-coders-of-the-caribbean">Multi - Coders of the Caribbean</option>
                  <option value="multi-ghost-in-the-cell">Multi - Ghost in the Cell</option>
                  <option value="multi-fantastic-bits">Multi - Fantastic Bits</option>
                  <option value="multi-hypersonic">Multi - Hypersonic</option>
                  <option value="multi-codebusters">Multi - CodeBusters</option>
                  <option value="multi-smash-the-code">Multi - Smash The Code</option>
                  <option value="multi-coders-strike-back">Multi - Coders Strike Back</option>
                  <option value="multi-back-to-the-code">Multi - Back to the Code</option>
                  <option value="multi-great-escape">Multi - The great escape</option>
                  <option value="multi-platinum-rift2">Multi - Platinum rift 2</option>
                  <option value="multi-platinum-rift">Multi - Platinum rift</option>
                  <option value="multi-poker-chip-race">Multi - Poker chip race</option>
                  <option value="multi-game-of-drone">Multi - Game of drones</option>
                  <option value="multi-tron-battle">Multi - Tron battle</option>
                  <option value="code4life">Challenge - Code4Life</option>
                  <option value="coders-of-the-caribbean">Challenge - Coders of the Caribbean</option>
                  <option value="ghost-in-the-cell">Challenge - Ghost in the Cell</option>
                  <option value="fantastic-bits">Challenge - Fantastic Bits</option>
                  <option value="hypersonic">Challenge - Hypersonic</option>
                  <option value="codebusters">Challenge - CodeBusters</option>
                  <option value="smash-the-code">Challenge - Smash the Code</option>
                  <option value="coders-strike-back">Challenge - Coders Strike Back</option>
                  <option value="sf2442">Challenge - San Francisco 2442</option>
                  <option value="back-to-the-code">Challenge - Back to the code</option>
                  <option value="the-great-escape">Challenge - The great escape</option>
                  <option value="platinum-rift-2">Challenge - Platinum rift 2</option>
                  <option value="platinum-rift">Challenge - Platinum rift</option>
                  <option value="winamax">Challenge - Poker chip race</option>
                  <option value="parrot">Challenge - Game of drones</option>
                  <option value="20">Challenge - Tron battle</option>
                  <option value="thor-codesize">Optimisation - Le pouvoir de thor</option>
                  <option value="paranoid-codesize">Optimisation - Les clones</option>
                  <option value="temperatures-codesize">Optimisation - Temp&eacute;ratures</option>
                </select>
              </div>
            </div>

            <div class="form-group">
              <label for="player" class="control-label col-xs-2">Player:</label>
              <div class="col-xs-6">
                <input class="form-control" type="text" ng-model="player" required />
              </div>
            </div>

            <button type="submit" class="btn btn-primary col-xs-offset-2" ng-click="search()">Search</button>
            <!-- <label class="latest-checkbox">
              <input type="checkbox" ng-model="latest">
              Consider only latest pushes
            </label> -->
          </form>
        </div>
      </div>

      <label for="notes">Notes:</label>
      <textarea id="notes" class="form-control"></textarea>

      <ui-view></ui-view>
    </div>

    <script type="text/javascript" src="/js/angular.js?v=6"></script>
    <script type="text/javascript" src="/js/angular-ui-router.js?v=6"></script>
    <script type="text/javascript" src="/js/moment.js?v=6"></script>
    <script type="text/javascript" src="/js/main.js?v=6"></script>
  </body>
</html>
