<!doctype html>
<html ng-app="cgstats">
  <head>
    <title>CG stats</title>
    <link rel="stylesheet" href="/css/bootstrap.css?v=2" />
    <link rel="stylesheet" href="/css/bootstrap-theme.css?v=2" />
    <link rel="stylesheet" href="/css/main.css?v=2" />

    <base href="/" />
  </head>

  <body ng-cloak>
    <div class="jumbotron">
      <h1>CG stats</h1>
    </div>
    <div class="container">
      <div class="row">
        <div class="col-xs-12">
          <form ng-controller="form" class="form-horizontal">
            <div class="form-group">
              <label for="game" class="control-label col-xs-2">Game:</label>
              <div class="col-xs-6">
                <select class="form-control" ng-model="game" required>
                  <option value="">-- Select a game --</option>
                  <option value="multi-codebusters">Multi - CodeBusters</option>
                  <option value="multi-smash-the-code">Multi - Smash The Code</option>
                  <option value="multi-coders-strike-back">Multi - Coders Strike Back</option>
                  <option value="multi-back-to-the-code">Multi - Back to the Code</option>
                  <option value="multi-great-escape">Multi - The great escape</option>
                  <option value="multi-platinum-rift2">Multi - Platinum rift 2</option>
                  <option value="multi-platinum-rift">Multi - Platinum rift</option>
                  <option value="multi-poker-chip-race">Multi - Poker chip race</option>
                  <option value="multi-game-of-drone">Multi - Game of drones</option>
                  <option value="multi-tron-battle">Multi - Tron battle</option>
                  <option value="hypersonic">Challenge - Hypersonic</option>
                  <option value="codebusters">Challenge - CodeBusters</option>
                  <option value="smash-the-code">Challenge - Smash the Code</option>
                  <option value="coders-strike-back">Challenge - Coders Strike Back</option>
                  <option value="sf2442">Challenge - San Francisco 2442</option>
                  <option value="back-to-the-code">Challenge - Back to the code</option>
                  <option value="the-great-escape">Challenge - The great escape</option>
                  <option value="platinum-rift-2">Challenge - Platinum rift 2</option>
                  <option value="platinum-rift">Challenge - Platinum rift</option>
                  <option value="winamax">Challenge - Poker chip race</option>
                  <option value="parrot">Challenge - Game of drones</option>
                  <option value="20">Challenge - Tron battle</option>
                  <option value="thor-codesize">Optimisation - Le pouvoir de thor</option>
                  <option value="paranoid-codesize">Optimisation - Les clones</option>
                  <option value="temperatures-codesize">Optimisation - Temp&eacute;ratures</option>
                  <option value="multi-unleash-the-geek-2016">Temporaire - Unleash the geek</option>
                </select>
              </div>
            </div>

            <div class="form-group">
              <label for="player" class="control-label col-xs-2">Player:</label>
              <div class="col-xs-6">
                <input class="form-control" type="text" ng-model="player" required />
              </div>
            </div>

            <button type="submit" class="btn btn-primary col-xs-offset-2" ng-click="search()">Search</button>
          </form>
        </div>
      </div>

      <label for="notes">Notes:</label>
      <textarea id="notes" class="form-control"></textarea>

      <ui-view></ui-view>
    </div>

    <script type="text/javascript" src="/js/angular.js?v=3"></script>
    <script type="text/javascript" src="/js/angular-ui-router.js?v=3"></script>
    <script type="text/javascript" src="/js/moment.js?v=3"></script>
    <script type="text/javascript" src="/js/main.js?v=3"></script>
  </body>
</html>