<!doctype html>
<html ng-app="cgstats">
  <head>
    <title>CG stats</title>
    <link rel="stylesheet" href="/css/bootstrap.css?v=9" />
    <link rel="stylesheet" href="/css/bootstrap-theme.css?v=9" />
    <link rel="stylesheet" href="/css/main.css?v=9" />

    <base href="/" />
  </head>

  <body ng-cloak>
    <div class="jumbotron">
      <h1>CG stats</h1>
      <a href="http://apps.rezonux.com/codingame/" target="_blank">CG points</a> - 
      <a href="https://cgmulti.azke.fr/players" target="_blank">CG multi</a> -
      <a href="https://chadok.info/codingame/" target="_blank">XP leaderboard / Puzzles list</a>
    </div>
    <a href="https://github.com/dreignier/cgstats" target="_blank"><img style="position: absolute; top: 0; right: 0; border: 0;" src="https://camo.githubusercontent.com/38ef81f8aca64bb9a64448d0d70f1308ef5341ab/68747470733a2f2f73332e616d617a6f6e6177732e636f6d2f6769746875622f726962626f6e732f666f726b6d655f72696768745f6461726b626c75655f3132313632312e706e67" alt="Fork me on GitHub" data-canonical-src="https://s3.amazonaws.com/github/ribbons/forkme_right_darkblue_121621.png"></a>
    <div class="container">
      <div class="row">
        <div class="col-xs-12">
          <form ng-controller="form" class="form-horizontal">
            <div class="form-group">
              <label for="game" class="control-label col-xs-2">Game:</label>
              <div class="col-xs-6">
                <select class="form-control" ng-model="game" required>
                  <option value="">-- Select a game --</option>
                  <optgroup label="Multiplayer puzzles">
                    <option ng-repeat='multi in multiList' value="multi-{{multi.id}}">{{multi.name}}</option>
                  </optgroup>
                  <optgroup label="Contests">
                    <option ng-repeat='contest in contestList' value="{{contest.id}}">{{contest.name}}</option>
                  </optgroup>
                  <optgroup label="Semi-private contests">
                    <option value="amadeus-challenge">Amadeus challenge</option>
                    <option value="thales-2018">Thales 2018</option>
                    <option value="hackathlon">Hackathlon</option>
                    <option value="sf2442">San Francisco 2442</option>
                  </optgroup>
                  <optgroup label="Code golf puzzles">
                    <option value="thor-codesize">Le pouvoir de thor</option>
                    <option value="paranoid-codesize">Les clones</option>
                    <option value="temperatures-codesize">Temp&eacute;ratures</option>
                    <option value="chuck-norris-codesize">Chuck Norris</option>
                  </optgroup>
                </select>
              </div>
            </div>

            <div class="form-group">
              <label for="player" class="control-label col-xs-2">Player:</label>
              <div class="col-xs-6">
                <input class="form-control" type="text" ng-model="player" required />
              </div>
            </div>

            <button type="submit" class="btn btn-primary col-xs-offset-2" ng-click="search()">Search</button>
            <label class="latest-checkbox">
              <input type="checkbox" ng-model="countDraws">
              Count draws as half-win
            </label>
          </form>
        </div>
      </div>

      <ui-view></ui-view>
    </div>

    <script type="text/javascript" src="/js/angular.js?v=9"></script>
    <script type="text/javascript" src="/js/angular-ui-router.js?v=9"></script>
    <script type="text/javascript" src="/js/moment.js?v=9"></script>
    <script type="text/javascript" src="/js/main.js?v=9"></script>
  </body>
</html>
