<div ng-class="{ cloak : !loading }">
  <span class="glyphicon glyphicon-hourglass loading"></span>
</div>
<div ng-class="{ cloak : !fail }">
  <p class="bg-danger">Error 404. Player not found. Double check your nickname and the selected puzzle. Please note that cgstats can't find your ranking if you are above the first 1000 players. If you think cgstats should find you and this is an error, try to ask Magus.</p>
</div>
<div id="search-time" ng-class="{ cloak : !date }">
  <p>Search done at {{ date }}</p>
</div>

<div class="row">
  <div class="col-xs-12" ng-if="player && mode=='multi'">
    <table class="table table-bordered">
      <thead>
        <tr class="info">
          <th>Pseudo</th>
          <th>Rank</th>
          <th>Score</th>
          <th>Language</th>
          <th>Progress</th>
          <th>Agend id</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>{{ player.pseudo }}</td>
          <td>{{ player.rank }}</td>
          <td>{{ player.score }}</td>
          <td>{{ player.programmingLanguage }}</td>
          <td>{{ player.percentage }}%</td>
          <td>{{ player.agentId }}</td>
        </tr>
      </tbody>
    </table>

    <table class="table table-bordered">
      <thead>
        <tr class="info">
          <th>2 players ({{ stats['2'].total }} games)</th>
          <th>Count</th>
          <th>Percentage</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>Victory</td>
          <td>{{ stats['2']['1'].count }}</td>
          <td>{{ stats['2']['1'].percentage }}%</td>
        </tr>
        <tr>
          <td>Defeat</td>
          <td>{{ stats['2']['2'].count }}</td>
          <td>{{ stats['2']['2'].percentage }}%</td>
        </tr>
      </tbody>
    </table>

    <table class="table table-bordered" ng-if="stats['3'].total > 0">
      <thead>
        <tr class="info">
          <th>3 players ({{ stats['3'].total }} games)</th>
          <th>Count</th>
          <th>Percentage</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>Victory</td>
          <td>{{ stats['3']['1'].count }}</td>
          <td>{{ stats['3']['1'].percentage }}%</td>
        </tr>
        <tr>
          <td>2<sup>nd</sup> position</td>
          <td>{{ stats['3']['2'].count }}</td>
          <td>{{ stats['3']['2'].percentage }}%</td>
        </tr>
        <tr>
          <td>Defeat</td>
          <td>{{ stats['3']['3'].count }}</td>
          <td>{{ stats['3']['3'].percentage }}%</td>
        </tr>
      </tbody>
    </table>

    <table class="table table-bordered" ng-if="stats['4'].total > 0">
      <thead>
        <tr class="info">
          <th>4 players ({{ stats['4'].total }} games)</th>
          <th>Count</th>
          <th>Percentage</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>Victory</td>
          <td>{{ stats['4']['1'].count }}</td>
          <td>{{ stats['4']['1'].percentage }}%</td>
        </tr>
        <tr>
          <td>2<sup>nd</sup> position</td>
          <td>{{ stats['4']['2'].count }}</td>
          <td>{{ stats['4']['2'].percentage }}%</td>
        </tr>
        <tr>
          <td>3<sup>rd</sup> position</td>
          <td>{{ stats['4']['3'].count }}</td>
          <td>{{ stats['4']['3'].percentage }}%</td>
        </tr>
        <tr>
          <td>Defeat</td>
          <td>{{ stats['4']['4'].count }}</td>
          <td>{{ stats['4']['4'].percentage }}%</td>
        </tr>
      </tbody>
    </table>

    <table class="table table-bordered">
      <thead>
        <tr class="info">
          <th width="7%" ng-click="sortType = 'rank'; sortReverse = !sortReverse">
            Rank
            <span ng-show="sortType == 'rank' && sortReverse" class="arrow-down"></span>
            <span ng-show="sortType == 'rank' && !sortReverse" class="arrow-up"></span>
          </th>
          <th width="30%">
            Nick
          </th>
          <th width="10%" ng-click="sortType = 'score'; sortReverse = !sortReverse">
            Score
            <span ng-show="sortType == 'score' && sortReverse" class="arrow-down"></span>
            <span ng-show="sortType == 'score' && !sortReverse" class="arrow-up"></span>
          </th>
          <th width="15%" ng-click="sortType = 'winrate'; sortReverse = !sortReverse">
            Winrate
            <span ng-show="sortType == 'winrate' && sortReverse" class="arrow-down"></span>
            <span ng-show="sortType == 'winrate' && !sortReverse" class="arrow-up"></span>
          </th>
          <th width="15%">
            Wins / Loses / Draws
          </th>
          <th width="7%" ng-click="sortType = 'total'; sortReverse = !sortReverse">
            Total
            <span ng-show="sortType == 'total' && sortReverse" class="arrow-down"></span>
            <span ng-show="sortType == 'total' && !sortReverse" class="arrow-up"></span>
          </th>
          <th width="16%" ng-click="sortType = 'submit'; sortReverse = !sortReverse">
            Last submit
            <span ng-show="sortType == 'submit' && sortReverse" class="arrow-down"></span>
            <span ng-show="sortType == 'submit' && !sortReverse" class="arrow-up"></span>
          </th>
        </tr>
      </thead>
      <tbody>
        <tr ng-repeat="line in details | orderBy : sortType : sortReverse" ng-class="{ highlight : line.highlight, faded: !line.highlight && line.total < 5 }">
          <td>
            {{ line.rank }}
          </td>
          <td>
            <div ng-if="line.codingamer.avatar" class="avatar">
              <img ng-src="https://static.codingame.com/servlet/fileservlet?id={{ line.codingamer.avatar }}&format=navigation_avatar" />
            </div>
            <a ui-sref="app.stats({ game: game, player: line.pseudo })">{{ line.pseudo }}</a>
          </td>
          <td>
            {{ line.score }}
            <span ng-show="line.progress == 'INCREASE'" class="arrow-green"></span>
            <span ng-show="line.progress == 'DECREASE'" class="arrow-red"></span>
          </td>
          <td class="winrate-cell"
            ng-style="{ 'background': line.highlight || line.total < 5 ? '' : line.winrate > 50 ? 'linear-gradient(to right, transparent 0%, transparent 49%, #dff0d8 50%, #dff0d8 ' + line.winrate + '%, transparent ' + (line.winrate + 1) + '%)' : line.winrate < 50 ? 'linear-gradient(to right, transparent 0%, transparent ' + (line.winrate) + '%, #f2dede ' + (line.winrate + 1) + '%, #f2dede 50%, transparent 51%)' : ''}"
          >
            <span ng-show="!line.highlight && line.total > 0" class="winrate-text">{{ line.winrate }}%</span>
            <span ng-show="!line.highlight && line.total > 0" class="winrate-error" title="95% confidence interval">[{{ line.winrateErrorDown }}%, {{ line.winrateErrorUp }}%]</span>
          </td>
          <td>
            <span ng-show="!line.highlight && line.total > 0">{{ line.beaten }} / {{ line.lose }} / {{ line.draw }}</span>
          </td>
          <td>
            <span ng-show="!line.highlight && line.total > 0">{{ line.total }}</span>
          </td>
          <td class="last-submit-cell">
            <span>{{ line.submitText }}</span>
          </td>
        </tr>
      </tbody>
    </table>

    <button ng-show="csv" class="btn btn-primary button-csv" ng-click="showCSV = !showCSV">CSV</button>

    <textarea class="form-control" ng-show="csv && showCSV" readonly="true" ng-model="csv"></textarea>
  </div>

  <div class="col-xs-12" ng-if="player && mode=='optim'">
    <p class="lead">Total score : {{ score }}</p>

    <table class="table table-bordered table-striped">
      <thead>
        <tr class="info">
          <th>
            Language
          </th>
          <th>
            Rank
          </th>
          <th>
            Total
          </th>
          <th>
            Points
          </th>
          <th>
            Code Size
          </th>
          <th>
            Gap
          </th>
          <th>
            Lead
          </th>
        </tr>
      </thead>
      <tr ng-repeat="line in stats" ng-class="{ success : $index < 5 }">
        <td>{{ line.language }}</td>
        <td>{{ line.rank }}</td>
        <td>{{ line.total }}</td>
        <td>{{ line.points }}</td>
        <td>{{ line.codeSize }}</td>
        <td>{{ line.gap !== null ? line.gap : "–" }}</td>
        <td>{{ line.lead !== null ? line.lead : "–" }}</td>
      </tr>
    </table>
  </div>
</div>